body {
    height: 100%;
    width: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "fira sans", verdana, serif;
    font-size: 1.5em;
}

/* Header */
header {
    min-height: 300px;

    display: flex;
    align-items: center;
}

header h1 {
    flex: 1 1;
    margin-left: 1vw;
}

/* thumbs */
.thumbs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 1em;
    width: 70vw;
}

.thumbs img {
    flex: 1 1;
}

/* Navigation */
nav {
    width: 70vw;
}

nav ul {
    display: flex;
    padding-left: 0;
}

nav ul li {
    flex: 1 1;

    text-align: center;
    list-style: none;

    display: flex;
}

nav ul li a {
    flex: 1 1;

    display: block;
    text-decoration: none;

    border: 1px solid black;
    border-radius: 5px;

    margin: 0 5px 0 5px;
    padding: 20px 30px 20px 30px;
}

nav ul li:first-child a {
    margin-left: 0;
}

nav ul li:last-child a {
    margin-right: 0;
}

/* Section */
section {
    width: 70vw;
}

section p {
    text-align: justify;
}
